<div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-4 text-center wizard-text" ng-class="{ 'wizard-text-active': onStep(1) }">
        <span class="wizard-circle center-block" ng-class="{ 'wizard-circle-active': onStep(1) }">1</span><br />Select Attribute
      </div>
      <div class="col-xs-4 text-center wizard-text" ng-class="{ 'wizard-text-active': onStep(2) }">
        <span class="wizard-circle center-block" ng-class="{ 'wizard-circle-active': onStep(2) }">2</span><br />Create Field
      </div>
      <div class="col-xs-4 text-center wizard-text" ng-class="{ 'wizard-text-active': onStep(3) }">
        <span class="wizard-circle center-block" ng-class="{ 'wizard-circle-active': onStep(3) }">3</span><br />Add To Form
      </div>
    </div>
  </div>
  <div ng-if="hasNoNestedViews()">
  </div>
  <div ui-view></div>
</div>
