<div ng-switch on="field.type">
  <label>{{field.label.values[selectedLocale]}}</label>
  <div ng-switch-when="select">
    <select ng-model="emptyValue" ng-options="o.value as o.label.values[selectedLocale] for o in field.options" ng-disabled="o.disabled"></select>
  </div>
  <div ng-switch-when="textarea">
    <textarea ng-model="emptyValue" rows="5" placeholder="{{field.placeholder.values[selectedLocale]}}"></textarea>
  </div>
  <div ng-switch-default>
    <input ng-model="emptyValue" placeholder="{{field.placeholder.values[selectedLocale]}}">
  </div>
  <div ng-if="field.tip.values[selectedLocale]" class="field-tip">{{field.tip.values[selectedLocale]}}</div>
</div>
