<div ng-if="!adding">
  <h3>{{field.name}}<span class="label label-info pull-right">{{field.type}}</span></h3>
</div>
<div class="field-modify">
<div class="edit col-md-7">
  <uib-tabset justified="true">
    <uib-tab heading="Field">
      <div ng-if="adding" class="form-group">
        <label>Field Type</label>
        <select ng-model="field.type" ng-options="x for x in fieldTypes" ng-change="updateFieldAttributes()" class="form-control"></select>
      </div>
      <div ng-if="adding" class="form-group">
        <label>Name</label>
        <input class="form-control" ng-model="field.name">
      </div>
      <div ng-if="fieldSupports('schemaAttribute')" ng-class="['form-group', {'has-error': errors.schemaAttribute}]">
        <label for="schemaAttr">Schema Attribute</label>
        <select ng-model="field.schemaAttribute" ng-options="x for x in schemaAttributes" class="form-control"></select>
      </div>
      <div class="form-group" ng-if="fieldSupports('socialProfileData')">
        <label for="socialProfileData">Social Profile Data</label>
        <input id="socialProfileData" class="form-control" ng-model="field.socialProfileData">
      </div>
      <div class="form-group" ng-if="fieldSupports('label')">
        <label for="label">Label</label>
        <input id="label" class="form-control" ng-model="field.label.values[selectedLocale]">
      </div>
      <div class="form-group" ng-if="fieldSupports('placeholder')">
        <label for="placeholder">Placeholder</label>
        <input id="placeholder" class="form-control" ng-model="field.placeholder.values[selectedLocale]">
      </div>
      <div class="form-group" ng-if="fieldSupports('tip')">
        <label for="tip">Tip</label>
        <input id="tip" class="form-control" ng-model="field.tip.values[selectedLocale]">
      </div>
      <div ng-if="fieldSupports('options')">
        <div class="panel panel-default add-option">
          <div class="panel-heading">
            <h4 class="panel-title">Add Option</h4>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <div class="form-group">
                <label>Label</label>
                <input class="form-control" ng-model="newOption.label">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Value</label>
                <input class="form-control" ng-model="newOption.value">
              </div>
            </div>
            <div class="col-md-12">
              <button ng-click="addOption()" class="btn btn-primary btn-xs btn-block">Add</button>
            </div>
          </div>
        </div>
        <h4>Options:</h4>
        <uib-accordion close-others="false">
          <ul dnd-list="field.options" class="field-options">
            <li ng-repeat="o in field.options" dnd-draggable="o" dnd-moved="field.options.splice($index, 1)">
              <uib-accordion-group>
                <uib-accordion-heading>
                  <span class="handle glyphicon glyphicon-align-justify"></span>
                  {{o.label.values[selectedLocale]}}
                  <span class="option-value" ng-if='o.label.values[selectedLocale] !== o.value'>value: {{o.value}}</span>
                  <span class="option-selected" ng-if="o.value == selectedOption.value">selected</span>
                  <span class="option-disabled" ng-if="o.disabled">disabled</span>
                  <span ng-click="removeOption($index, $event)" class="glyphicon glyphicon-remove pull-right" title="Remove"></span>
                </uib-accordion-heading>
                <div>
                  <div class="form-group">
                    <label>Label</label>
                    <input class="form-control" ng-model="o.label.values[selectedLocale]">
                  </div>
                  <div class="form-group">
                    <label>Value</label>
                    <input class="form-control" ng-model="o.value">
                  </div>
                  <label>Selected</label>
                  <input type="radio" value="{{o.value}}" ng-model="selectedOption.value" ng-disabled="o.disabled">
                  <label>Disabled</label>
                  <input type="checkbox" ng-value="true" ng-model="o.disabled" ng-disabled="o.value == selectedOption.value">
                </div>
              </uib-accordion-group>
            </li>
          </ul>
        </uib-accordion>
      </div>
    </uib-tab>
    <uib-tab heading="Validation" ng-if="fieldSupports('validation')">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Add Validation</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Rule</label>
            <select ng-model="newValidation.rule" ng-options="x for x in getAllowedValidations()" class="form-control"></select>
          </div>
          <div ng-if="newValidation.rule">
            <validation model="newValidation" validation-formats="validationFormats" all-fields="allFields"></validation>
            <button ng-click="addValidation()" class="btn btn-primary pull-right">Add</button>
          </div>
        </div>
      </div>
      <div>
        <h4>Validations:</h4>
        <uib-accordion close-others="false">
          <uib-accordion-group ng-repeat="v in field.validation">
            <uib-accordion-heading>
              {{v.rule}}
              <span ng-click="removeValidation($index, $event)" class="glyphicon glyphicon-remove pull-right" title="Remove"></span>
            </uib-accordion-heading>
            <validation model="v" validation-formats="validationFormats" all-fields="allFields" translatable="true" selected-locale="selectedLocale"></validation>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
<div class="preview col-md-5">
  <div class="form-group">
    <label for="locale">Language</label>
    <select ng-model="selectedLocale" ng-options="locale for locale in locales" class="form-control"></select>
  </div>
  <div class="panel panel-default jtl-preview">
    <div class="panel-heading">
      <h4 class="panel-title">JTL</h4>
    </div>
    <div class="panel-body">
      <code>{* {{field.name}} *}</code>
    </div>
  </div>
  <ng-include src="'/partials/singleWidgetPreview.html'"></ng-include>
  <save-button save-fn="save()" idle-text="Save Field"></save-button>
</div>
</div>
