<h3>{{form}}</h3>
<div class="col-sm-4">
  <div class="panel panel-default add-option">
    <div class="panel-heading">
      <h4 class="panel-title">Add Field</h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <select ng-model="fieldToAdd" ng-options="field for field in addableFields()" class="form-control"></select>
      </div>
      <button ng-click="addField()" class="btn btn-primary btn-xs btn-block">Add</button>
    </div>
  </div>
  <ul class="form-fields">
    <li ng-repeat="field in formFields">
      <a ui-sref="fieldOverveiwFromForm({ flow: flow, form: form, field: field })">{{field}}</a>
      <span ng-click="removeField($index)" class="glyphicon glyphicon-remove pull-right remove" title="Remove"></span>
    </li>
  </ul>
</div>
<div class="col-sm-8">
  <div class="col-sm-6">
    <ng-include src="'partials/multiWidgetPreview.html'"></ng-include>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="locale">Language</label>
      <select ng-model="selectedLocale" ng-options="locale for locale in locales" class="form-control"></select>
    </div>
    <div class="panel panel-default jtl-preview">
      <div class="panel-heading">
        <span class="pull-right">Note: Field order is dependent on the JTL on your site.</span><h4 class="panel-title">JTL</h4>
      </div>
      <div class="panel-body">
        <code>{* #{{form}} *}<span ng-repeat="field in formFields">
      {* {{field}} *}</span>
  {* /{{form}} *}</code>
      </div>
    </div>
    <save-button save-fn="save()" idle-text="Save Form"></save-button>
  </div>
</div>
