<nav class="navbar navbar-default" ng-controller="CredentialsCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Janrain Config API</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><button type="button" class="btn btn-default navbar-btn" ng-if="hasCreds()" ng-click="clear()">Log out</button></li>
      <li><a href="/docs/index.html">REST API Documentation</a></li>
    </ul>
  </div>
  <div ncy-breadcrumb></div>
</nav>
