.widget-preview {
  background: url(http://cdn.quilt.janrain.com/2.1.2/bg-blue.png);
  border: 1px solid #ccc;
  padding: 15px;
}
.field-preview {
  padding: 15px 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.field-preview * {
  font-family: helvetica, sans-serif;
}
.field-preview label {
  font-size: 13px;
  font-weight: normal;
  color: #666;
  margin: 0 10px 0 5px;
}
.field-preview input,
.field-preview select {
  width: 100%;
  color: #333;
  background: #f6f6f6;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 5px;
  margin: 2px 0;
  height: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px inset;
  line-height: 14px;
}
.field-preview select {
  -webkit-appearance: none;
  background-image: url(http://cdn.quilt.janrain.com/2.2.20/dropdown_arrow.png);
  background-repeat: no-repeat;
  background-position: 100% -28px;
}
.field-preview .field-tip {
  color: #aaa;
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 15px;
}
