<div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-4 text-center wizard-text" ng-class="{ 'wizard-text-active': onStep(1) }">
        <span class="wizard-circle center-block" ng-class="{ 'wizard-circle-active': onStep(1) }">1</span>
        <div>Select Attribute</div>
      </div>
      <div class="col-xs-4 text-center wizard-text" ng-class="{ 'wizard-text-active': onStep(2) }">
        <span class="wizard-circle center-block" ng-class="{ 'wizard-circle-active': onStep(2) }">2</span>
        <div>Create Field</div>
      </div>
      <div class="col-xs-4 text-center wizard-text" ng-class="{ 'wizard-text-active': onStep(3) }">
        <span class="wizard-circle center-block" ng-class="{ 'wizard-circle-active': onStep(3) }">3</span>
        <div>Add To Form</div>
      </div>
    </div>
  </div>
  <div ng-if="hasNoNestedViews()">
  </div>
  <div ui-view></div>
</div>
