<div ng-controller="CredentialsCtrl">
  <h2>Authenticate</h2>
  <div class="form-group col-sm-4">
    <label>Application ID</label>
    <input ng-model="appId" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Client ID</label>
    <input ng-model="clientId" class="form-control">
  </div>
  <div class="form-group col-sm-4">
    <label>Client Secret</label>
    <input type="password" ng-model="clientSecret" class="form-control">
  </div>
  <div class="form-group col-sm-12">
    <button ng-click="load()" ng-disabled="!(appId && clientId && clientSecret)" class="btn btn-lg btn-block btn-primary">Load Flows</button>
  </div>
  <div class="form-group col-sm-12">
    <button ng-if="hasCreds()" ng-click="clear()" class="btn btn-sm btn-block btn-default">Clear Credentials</button>
  </div>
</div>
