<h1>Getting Started</h1>
<p>There are two ways to use the Janrain Config API. The easiest way to get started is to enter your Capture application ID, owner client ID, and owner client secret and click "Load Flows". From there, you can choose a flow to work on and make changes to your fields and forms.</p>
<p>If you're a developer, or you want to use features not yet incorporated into this interface, you can use the REST API directly. Refer to the <a href="/docs.html">documentation here</a> for more information.</p>
<div>
  <ng-include src="'/partials/credentials.html'"></ng-include>
</div>
